html, body {
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

body > * {
  flex: 1;
  flex-shrink: 0;
}

#root {
  height:100%;
      
  display:flex;
  flex-direction:column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  height: 100%;

  --color-background: #FAFAFA;
  --color-foreground: #1F2023;
  --taustaFiltteri: rgba(255,240,250,0.50);
  --navigaatioNapinTausta: rgba(200,200,255,0.95);
}

body.dark {
    --color-background: #1F2023;
    --color-foreground: #EFEFEF;
    --taustaFiltteri: rgba(20,10,20,0.8);
    --navigaatioNapinTausta: rgba(50,50,80,0.95);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* { margin: 0; }
